verus_git_url = "https://github.com/verus-lang/verus.git"
verus_refspec = "main"
verus_features = ["singular"]
verus_extra_args = ["--no-report-long-running"]

# Successes

[[project]]
name = "ironkv"
git_url = "https://github.com/verus-lang/verified-ironkv.git"
refspec = "main"
crate_roots = ["ironsht/src/lib.rs"]
extra_args = ["--crate-type=dylib"]

[[project]]
name = "page-table"
# NR PR broke compatibility: https://github.com/matthias-brun/verified-nrkernel/pull/7
ignore= true
git_url = "https://github.com/matthias-brun/verified-nrkernel.git"
refspec = "main"
crate_roots = ["page-table/src/lib.rs"]
extra_args = ["--crate-type=lib", "--rlimit", "60", "--cfg", "feature=\"impl\""]

[[project]]
name = "node-replication"
git_url = "https://github.com/verus-lang/verified-node-replication.git"
refspec = "main"
crate_roots = ["verified-node-replication/src/lib.rs"]
extra_args = ["--crate-type=dylib"]

[[project]]
name = "verified-storage"
git_url = "https://github.com/microsoft/verified-storage.git"
refspec = "main"
cargo_verus = true
crate_roots = ["capybaraKV/capybarakv", "multilog/multilog", "pmemlog"]

[[project]]
name = "memory-allocator"
git_url = "https://github.com/verus-lang/verified-memory-allocator.git"
refspec = "main"
crate_roots = ["verus-mimalloc/lib.rs"]
extra_args = [
    "--extern", "libc=build/liblibc.rlib",
    "--triggers-mode", "silent",
    "--rlimit", "240",
]
prepare_script = """
pushd test_libc
cargo clean
cargo +1.93.0 build --release
popd
LIBC_RLIB_NAME=$(find ./test_libc/target/release/deps/ -name 'liblibc-*.rlib')
mkdir -p build
cp $LIBC_RLIB_NAME build/liblibc.rlib
"""

# Fails 

[[project]]
name = "anvil"
git_url = "https://github.com/anvil-verifier/anvil"
refspec = "main"
# Fails with "variable shadowing not yet supported" in vstd/std_specs/option.rs
#   and with "function body check: Resource limit (rlimit) exceeded on newly_added_msg_have_different_id_from_existing_ones
ignore= true
crate_roots = ["src/vdeployment_admission_controller.rs"]
extra_args = ["--crate-type=lib", 
              "-L", "dependency=src/deps_hack/target/debug/deps",
              "--extern=deps_hack=\"src/deps_hack/target/debug/libdeps_hack.rlib\"",
              "-A", "warnings"]
prepare_script = """
pushd src/deps_hack
cargo clean
cargo +1.93.0 build
popd
"""


